body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}
.app {
  background-color: aliceblue;
}


.left-container {
  display: flex;
  flex-direction: column;
}
