body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app {
  background-color: aliceblue;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.left-container {
  display: flex;
  flex-direction: column;
}
