body {
  font-family: Helvetica;
}

#root .app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}
.app {
  background-color: aliceblue;
}



.left {
  flex: 0 0 50%;
  border: black 1px solid;
}

.right {
  flex: 0 0 50%;
  border: black 1px solid;
}

.left-container {
  display: flex;
  flex-direction: column;
}
