body {
  font-family: Helvetica;
}

#root .app {
  height: 100vh;
  display: flex;
  align-items: top;
  justify-content: space-between;
  background-color: aliceblue;
}
.app {
  background-color: aliceblue;
}



.left {
  flex: 0 0 50%;
  border: black 1px solid;
  padding: 20px 20px 20px 40px;
}

.right {
  flex: 0 0 50%;
  border: black 1px solid;
  padding: 20px 20px 20px 20px;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.search {
  padding:20px 20px 20px 0;
}

input[type=text] {
  height: 30px;
  width: 300px
}
