body {
  font-family: Helvetica;
}

#root .app {
  height: 100vh;
  display: flex;
  align-items: top;
  justify-content: space-between;
  background-color: aliceblue;
}
.app {
  background-color: aliceblue;
}



.left {
  flex: 0 0 50%;
  border: black 1px solid;
  padding: 20px 20px 20px 40px;
}

.right {
  flex: 0 0 50%;
  border: black 1px solid;
  padding: 20px 10px 20px 10px;
  overflow: scroll;
}

.gif-list {
  column-count: 2;
    column-gap: 5px;
    padding: 5px;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.search {
  padding:20px 20px 20px 0;
}

input[type=text] {
  height: 40px;
  width: 350px
}

.show {
  height: calc(100vh - 150px);
  //height: 100%;
  border: 1px solid red;
}

.show-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.show-gif {
  //width: 100px;
  //height: 100px;
  border: 1px solid grey;
}
